{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "rules": {
      "no-prototype-builtins": 0,
      "no-return-await": 1,
      "camelcase": 1,
      "no-underscore-dangle": 1,
      "class-methods-use-this": 1,
      "no-unused-vars": 1,
      "max-len": 1,
      "no-undef": 1,
      "eqeqeq": 1
  }
}
