{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "import/no-unresolved": [
      2,
      {
        "caseSensitive": false
      }
    ],
    "no-prototype-builtins": 0,
    "no-return-await": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 1,
    "no-unused-vars": 1,
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreString": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-undef": 1,
    "eqeqeq": 1,
    "function-paren-newline": [
      "error",
      "never"
    ],
    "function-call-argument-newline": [
      "error",
      "consistent"
    ]
  }
}
