version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:15.1
    steps:
      - checkout
      - run:
          name: Run Tests
          command: npm run test

workflows:
  orb-free-workflow:
    jobs:
      - test
